Checks: >-
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,  
  readability-*,
  hicpp-*,
  -bugprone-easily-swappable-parameters,
  -readability-redundant-declaration,
  -performance-enum-size,
  -bugprone-exception-escape
WarningsAsErrors: '*'
CheckOptions:
  misc-include-cleaner.IgnoreHeaders: '.*/src/.*\.cpp'
  bugprone-unused-return-value.AllowCastToVoid: 'true'
